﻿@{
    ViewBag.Title = "Любимка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ILoveYou.Models.IndexModel

<style>
    #center {
        top: 50%; /* Отступ в процентах от верхнего края окна */
        left: 50%; /* Отступ в процентах от левого края окна */
        width: 350px; /* Ширина блока */
        height: 50px; /* Высота блока */
        position: absolute; /* Абсолютное позиционирование блока */
        margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
        margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
    }

    .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 30px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
</style>
<div class="form-signin">
    <blockquote class="pull-right">
        <p>
            @Model.Text<p>
                <small>Моя любимая <cite title="Source Title">Аня</cite></small>
    </blockquote>
    <div style="clear: both;"></div>
</div>
